{% extends "common.html" %}

{% block title %}Contact - Bekele Mulat Enyew{% endblock %}

{% block content %}
  <h2><i class="fas fa-envelope"></i> Contact</h2>
  <p><strong>🏢 Address:</strong> University of Gondar</p>
  <p><strong>📞 Phone:</strong> +251-936 328 953</p>
  <p><strong>📧 Personal Email:</strong> <a href="mailto:bekemuler3@gmail.com">bekemuler3@gmail.com</a></p>
  <p><strong>📧 Work Email:</strong> <a href="mailto:bekele.mulat@uog.edu.et">bekele.mulat@uog.edu.et</a></p>
{% endblock %}
