{% extends "common.html" %}

{% block title %}Courses - Bekele Mulat Enyew{% endblock %}

{% block content %}
  <h2><i class="fas fa-book-reader"></i> Courses</h2>
  <ul class="awards-list">
    <li><i class="fas fa-network-wired"></i> CISCO/CCNA Networking Certification (2018)</li>
    <li><i class="fas fa-screwdriver-wrench"></i> Hardware and Software Maintenance Training (2017)</li>
    <li><i class="fas fa-book"></i> Library Science Certification from NALA (2023)</li>
    <li><i class="fas fa-database"></i> Database Administration Certifications (2017)</li>
    <li><i class="fas fa-certificate"></i> Oracle PeopleSoft Certification (May 2018)</li>
    <li><i class="fas fa-robot"></i> Huawei Academy AI Full Course (May 2022)</li>
    <li><i class="fas fa-graduation-cap"></i> Udacity Nanodegree Programs (2024–2025): Android Developer, Data Analysis, Generative AI</li>
    <li><i class="fas fa-code"></i> Web Dev & DB Admin Certification – MOLS, Ethiopia (Oct 2024)</li>
    <li><i class="fas fa-shield-alt"></i> Cybersecurity & Python & JavaScript – Cisco Academy (Jan–Feb 2025)</li>
  </ul>
{% endblock %}
