{% extends "common.html" %}

{% block title %}Experience - Bekele Mulat Enyew{% endblock %}

{% block content %}
  <h2><i class="fas fa-briefcase"></i> Experience</h2>
  <p>👨‍💻 System Administrator at University of Gondar (Dec 2017 – May 2020)</p>
  <p>📚 Library Service and Documentation Officer at University of Gondar (May 2020 – Present)</p>
  <p>🧪 Web Dev & DB Administrator Assessor at Gondar Cluster TVET Colleges (June 2019 – Present)</p>
  <p>🤖 Machine Learning Researcher & Developer at University of Gondar (June 2020 – Present)</p>
  <p>🧠Machine Learning Engineer(Remote) at BrainBite,Netherlands (Jun 2025 - Present )</p>
  
{% endblock %}
