{% extends "common.html" %}

{% block title %}Research - Bekele Mulat Enyew{% endblock %}

{% block content %}
  <h2><i class="fas fa-flask"></i> Research</h2>
  <p>
    <strong>📘 Classification of Lumbar Spondylosis Using CNN Ensemble Method</strong> – 
    <a href="https://www.researchgate.net/publication/369678251_Classification_of_lumbar_spondylosis_from_MRI_images_using_CNN_ensemble_method" target="_blank" rel="noopener noreferrer">View Research</a>
  </p>
  <p>
    <strong>📈 Machine Learning Approaches to Classify and Predict Fertility Rates </strong> – 
    <a href="https://www.nature.com/articles/s41598-025-85695-8#:~:text=To%20classify%20and%20predict%20fertility%20rates%20of%20reproductive%2Dage%20women,support%20vector%20classifier%20models%2C%20were" target="_blank" rel="noopener noreferrer">View Research</a>
  </p>
  <p>
    <strong>💊 Machine learning applications to classify and monitor medication adherence in patients with type 2 diabetes </strong> – 
    <a href="https://www.frontiersin.org/journals/endocrinology/articles/10.3389/fendo.2025.1486350/full" target="_blank" rel="noopener noreferrer">View Research</a>
  </p>
{% endblock %}
