{% extends "common.html" %}

{% block title %}Skills - Bekele Mulat Enyew{% endblock %}

{% block content %}
  <h2><i class="fas fa-tools"></i> Skills</h2>
  <div class="skills-list">
    <p><i class="fas fa-code"></i> Programming: JavaScript, Java, Python</p>
    <p><i class="fas fa-robot"></i> AI, Machine Learning & Deep Learning</p>
    <p><i class="fas fa-desktop"></i> Hardware & Software Maintenance</p>
    <p><i class="fas fa-database"></i> Database & Networking Administration</p>
    <p><i class="fas fa-server"></i> Server & OS Management</p>
    <p><i class="fas fa-mobile-alt"></i> Android Application Development</p>
  </div>
{% endblock %}
